body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
  color: white;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greetings span {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
}

.description {
  margin: 20px;
  font-size: 16px;
}

.button a {
  padding: 12px 22px;
  background: pink;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* HP */
@media (max-width: 600px) {
  .greetings span {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }
}
